@model WebFinal2.Models.ViewModels.TablaViewModel



        <center><h5 class="text-white">Editar</h5></center>

        <br>

        @using (Html.BeginForm("Editar", "Tabla", FormMethod.Post))
        {

            <div class="row justify-content-center">

                <div class="col-sm-3">

                    @Html.HiddenFor(d => d.id_operacion)

                    <div>

                        @Html.LabelFor(d => d.concepto, new { @class = "text-dark" })
                        @Html.TextBoxFor(d => d.concepto, " ", new { @class = "form-control" })
                        @Html.ValidationMessageFor(d => d.concepto, null, new { @class = "text-danger" })
                    </div>

                    <br>


                    <div>

                        @Html.LabelFor(d => d.monto, new { @class = "text-dark" })
                        @Html.TextBoxFor(d => d.monto, " ", new { @class = "form-control" })
                        @Html.ValidationMessageFor(d => d.monto, null, new { @class = "text-danger" })

                    </div>
                    <br>


                    <div>

                        @Html.LabelFor(d => d.fecha_op, new { @class = "text-dark" })
                        @Html.EditorFor(d => d.fecha_op, " ", new { @class = "form-control" })
                        <br />
                        @Html.ValidationMessageFor(d => d.fecha_op, null, new { @class = "text-danger" })

                    </div>

                    <br />

                    <div>

                        <center><input value="Guardar" class="btn btn-primary" type="submit" /></center>

                    </div>


                </div>


            </div>

        }

